
---
import "../styles/globals.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de — SodaBlog</title>
  </head>
  <body>
    <Header />
    <main class="container py-8 prose">
      <h1>Acerca de</h1>
      <p>SodaBlog es un proyecto académico desarrollado con fines educativos para explorar la historia, discografía e impacto cultural de Soda Stereo, una de las bandas más influyentes del rock en español. Su objetivo es ofrecer una mirada ordenada y accesible sobre la evolución artística del trío conformado por Gustavo Cerati, Zeta Bosio y Charly Alberti, desde sus inicios en la escena porteña hasta su consagración internacional. Este sitio fue creado utilizando Astro y TailwindCSS, priorizando un diseño limpio, moderno y adaptable a distintos dispositivos</p>
    </main>
    <Footer />
  </body>
</html>
